{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "env": { "browser": true, "jest": true },
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["warn"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["warn"],
    "no-unused-vars": ["warn"],
    "react/no-array-index-key": ["warn"],
    "no-use-before-define": ["warn"],
    "import/prefer-default-export": ["warn"],
    "arrow-body-style": ["warn"]
  }
}
