@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.question-section {
  padding: 50px !important;
  position: relative;
}

.start-game-container {
  display: grid;
  gap: 1em;
}

@media only screen and (max-width: 905px) {
  .question-section {
    padding: 50px 0 50px 0 !important;
  }
}

@media only screen and (max-width: 455px) {
  .start-game-container {
    display: grid;
    grid-auto-flow: row;
    gap: 1em;
  }
}

.emoji::after {
  font-size: 4em;
  min-width: 1.4em;
  text-align: center;
}

.question::after {
  content: '❓';
  animation-name: question;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.emoji::after {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.hourglass::after {
  content: '⏳';
  --emoji: '⌛️';
  animation-name: twoFrames;
  animation-duration: 1.2s;
  width: 100px;
  height: 100px;
  font-size: 4em;
  position: absolute;
}

@keyframes twoFrames {
  50% {
      content: var(--emoji);
  }
}

@keyframes question {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-30px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.box {
  width: 100px;
  height: 100px;
  font-size: 4em;
  position: absolute;
  animation: question 2.5s infinite;
  animation-timing-function: ease;
}
